$color_white: #ffffff;
$color_main-bg: #f5f5f5;
$color_light-gray: #e6e6e6;
$color_gray: #cccccc;
$color_dark-gray: #888888;
$color_task: #666666;
$color_task-border: #eeeeee;
$color_task-hover: #fafafa;
$color_light-green: #60c2b1;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

@mixin shadow-box($height, $offset, $index) {
  top: 100%;
  content: '';
  position: absolute;
  height: $height;
  left: $offset;
  right: $offset;
  z-index: $index;
  background-color: $color_white;
  box-shadow: $shadow;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
}

@mixin roboto-text($size, $weight, $height, $spacing) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

body {
  background-color: $color_main-bg;
  font-family: 'Roboto', sans-serif;
}

.todo-app {
  width: 100%;
  height: 100%;
  @include flex-center();
  flex-direction: column;
}

.todo-app__header h1 {
  font-size: 100px;
  font-weight: 100;
  line-height: 21px;
  letter-spacing: -2.5px;
  color: $color_gray;
}

.todo-app__main {
  position: relative;
  width: 80%;
  min-width: 400px;
  max-width: 562px;
  background: $color_white;
  box-shadow: $shadow;
}

.todo-app__main:before {
  @include shadow-box(5px, 2px, -1);
}

.todo-app__main:after {
  @include shadow-box(10px, 4px, -2);
}

.todo-app__controls {
  height: 66px;
  @include flex-center();
}

.todo-app__controls button {
  width: 50px;
  height: 50px;
  background-image: url("../img/SelectAll.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  background-color: transparent;
  padding: 20px 5px;
  margin-left: 5px;
  border: none;
}

.todo-app__controls button:hover {
  cursor: pointer;
}

.todo-app__controls input {
  height: 50px;
  width: 100%;
  border: none;
  @include roboto-text(24px, 100, 21px, -0.6px);
  outline: none;
}

.todo-app__controls ::placeholder {
  color: $color_gray;
  font-style: italic;
}

.todo-app__tasks {
  max-height: 300px;
  overflow-y: scroll;
  border-top: 1px solid $color_task-border;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

li {
  height: 64px;
  border-bottom: 1px solid $color_task-border;
  @include flex-center();
}

.todo-app__task-item {
  @include flex-center();
}

.task-item__view, .task-item__edit {
  width: 100%;
}

.task-item__label {
  width: 90%;
  @include flex-center();
}

.task-item__delete {
  width: 40px;
  height: 40px;
  background-image: url("../img/Delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: transparent;
  border: none;
  margin-right: 15px;
  margin-left: auto;
  opacity: 0;
  flex-shrink: 0;
}

.todo-app__task-item:hover {
  background-color: $color_task-hover;
}

.todo-app__task-item:hover .task-item__delete {
  opacity: 1;
}

.task-item__delete:focus {
  opacity: 1;
}

.task-item__delete:hover {
  cursor: pointer;
}

.todo-app__task-item input[type=checkbox] {
  margin: 0 0 0 15px;
  border: 1px solid $color_light-gray;
  appearance: none;
  border-radius: 50%;
}

.todo-app__task-item input[type=checkbox]:checked {
  background-image: url(../img/Done.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border: 1px solid $color_light-green;
}

.todo-app__task-item input[type=checkbox]:focus {
  visibility: visible;
}

.todo-app__task-item input[type=checkbox]:checked~label .task-item__text {
  text-decoration: line-through;
  color: $color_gray;
}

.task-item__view {
  @include flex-center();
}

.task-item__status {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  flex-shrink: 0;
}

.task-item__text {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  @include roboto-text(24px, 300, 21px, -0.6px);
  color: $color_task;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

label {
  width: 100%;
}

label:hover {
  cursor: pointer;
}

.todo-app__actions-bar {
  @include flex-center();
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.todo-app__items-left, .todo-app__items-filter {
  @include roboto-text(14px, 300, 21px, -0.35px);
  color: $color_dark-gray;
}

.todo-app__items-filter input:hover {
  cursor: pointer;
}

.todo-app__items-filter input[type=radio] {
  margin-right: -10px;
  opacity: 0;
}

.filter-text {
  border: 1px solid transparent;
  padding: 2px 5px;
  border-radius: 5px;
}

.todo-app__items-filter input[type="radio"]:checked~.filter-text {
  border: 1px solid $color_dark-gray;
}

.todo-app__clear-completed {
  border: none;
  background-color: transparent;
  @include roboto-text(14px, 300, 21px, -0.35px);
  color: $color_dark-gray;
}

.todo-app__clear-completed:hover {
  cursor: pointer;
}


